@import "tailwindcss";

@theme {
	--background: #10354d;
	--foreground: #fff;
	--font-kaaf: var(--font-kaaf);
	--font-peyda: var(--font-peyda-local);
	--color-primary-800: #144b65;
	--color-primary-900: #154965;
	--color-secondary-main: #0bc2eb;
	--color-secondary-700: #0a6f94;
}

@layer utilities {
	.glossy-bg {
		background: rgba(0, 0, 0, 0.2);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-peyda-local);
}
